* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #121212;
    min-height: 100vh;
}

.newsletter-container {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container i {
    color: #ba88fb;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.header-container h1 {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-align: center;
}

.header-container p {
    color: #9e9b9e;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.inbox-container {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #9e9e9e5d;
    margin-bottom: 20px;
}

.input-container {
    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    padding: 7px 14px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-container i {
    color: #9e9b9e;
    margin-right: 10px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: .9rem;
    background: transparent;
    outline: none;
    border: none;
    color: #9e9e9e;
}

button {
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ba88fb;
    border: none;
    font-weight: 600;
    margin-bottom: 40px;
}

.info-container ul {
    list-style: none;
}

.info-container ul li {
    color: #9e9b9e;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.info-container ul li i {
    color: #2fbfae;
}